body {
  background-color: dimgray;
  font-family: sans-serif;
  position: relative;
}

#canvasEl {
  width: 800px;
  height: 900px;
  margin: 0 auto;
  background: whitesmoke;
  border: 2px solid black;
  z-index: -1;
  position: absolute;
}

#gameBoard {
  display: block;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 64px;
}

.navButton {
  border: 4px solid black;
  background-color: lightgray;
  width: 167px;
  border-style: double;
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}

.stats{
  background-color: white;
  width: 150;
  margin: 15px 14px -60px 0px;
  padding: 10px;
  border: 4px solid black;
  float: right;
  font-weight: bold;
  z-index: 1;
  display: block;
  /* position: absolute; */
}


.navBar {float: left;position: absolute;margin: 85px 15px 0px 0px;display: block;}


#gameBoard div {
    width: 170px;
}


.navButton:hover {
    background-color: dimgray;
    font-weight: bold;
}


.canvasBox {
    width: 800px;
    height: 900px;
    margin: 0 auto;
    display: block;
}


.modal {
  /*display: none;*/
  position: absolute;
  border: 15px solid black;
  padding: 100px;
  background-color: whitesmoke;
  z-index: 11;
  text-align: center;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.modal h2 {
  padding-bottom: 15px;
  font-size: 48px;
}

.modalClose{
  border: none;
  border: none;
  font-size: 18px;
  background-color: transparent;
  font-family: inherit;
  color: #727272;
  margin-left: 380px;
  margin-top: -50px;
  cursor: pointer;
  margin-right: -50px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}


.pauseModal{
  display: none;
  position: absolute;
  text-align: center;
  width: 390px;
  top: 50%;
  left: 50%;
  border: 15px solid black;
  padding: 100px;
  background-color: whitesmoke;
  z-index: 11;
  font-size: 31px;
  transform: translate3d(-50%, -50%, 0);
}

.resetModal{
  display: none;
  position: absolute;
  text-align: center;
  width: 390;
  top: 50%;
  left: 50%;
  border: 15px solid black;
  padding: 100px;
  background-color: whitesmoke;
  z-index: 11;
  font-size: 31px;
  transform: translate3d(-50%, -50%, 0);
}

.winModal{
  display: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  border: 15px solid black;
  padding: 100px;
  background-color: whitesmoke;
  z-index: 11;
  font-size: 31px;
  transform: translate3d(-50%, -50%, 0);
}

.gameOver{
  display: none;
  position: absolute;
  border: 15px solid black;
  padding: 100px;
  background-color: whitesmoke;
  z-index: 11;
  text-align: center;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}


.statsBox {display: inline-block;float: right;position: relative;height: inherit;}


.allModals button {
    font-size: 22px;
    border: 4px solid black;
    background-color: lightgray;
    width: 180px;
    border-style: double;
    text-align: center;
    cursor: pointer;
    padding: 4px 10px;
}

.allModals h2 {
    margin: 20px;
    margin-top: 0px;
    font-size: 52px;
    background: whitesmoke;
}


.allModals button:hover {
    background-color: dimgray;
    font-weight: bold;
}


button.modalClose {
    width: 28px;
    height: 28px;
    color: black;
    padding: 0px 5px;
}

.allModals p {
    font-size: 22px;
    line-height: 23px;
    margin-bottom: 10px;
}


button.playAgain {
    margin-top: 25px;
}


.allModals div {
    width: 400;
}


.heading {
    text-align: center;
    margin: 75px 0px 50px 0px;
}


.heading h1 {
    font-size: 100px;
    color: white;
    text-shadow: 5px 5px black;
    margin: 0px;
}


.heading a {
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.heading a:hover {
    color: blue;
    text-decoration: underline;
}
