body {
  background-color: dimgray;
  font-family: sans-serif;
}

#canvasEl {
  width: 800px;
  height: 900px;
  margin: 0 auto;
  background: whitesmoke;
  border: 2px solid black;
  z-index: -1;
  position: absolute;
}

#gameBoard {
  display: block;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 64px;
}

.navButton {
  border: 4px solid black;
  background-color: lightgray;
  width: 167px;
  border-style: double;
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
}

.stats{
  background-color: white;
  width: 150;
  margin: 15px 14px -60px 0px;
  padding: 10px;
  border: 4px solid black;
  float: right;
  font-weight: bold;
  z-index: 1;
  display: block;
  /* position: absolute; */
}


.navBar {float: left;position: absolute;margin: 85px 15px 0px 0px;display: block;}


#gameBoard div {
    width: 170px;
}


.navButton:hover {
    background-color: dimgray;
    font-weight: bold;
}


.canvasBox {
    width: 800px;
    height: 900px;
    margin: 0 auto;
    display: block;
}


.statsBox {display: inline-block;float: right;position: relative;height: inherit;}
